<h2>Add Employee</h2>

<form [formGroup]="employeeForm" (ngSubmit)="save()">
  <label>
    Name:
    <input formControlName="name" />
  </label>

  <div *ngIf="employeeForm.get('name')?.touched && employeeForm.get('name')?.invalid">
    Name is required
  </div>

  <br /><br />

  <label>
    Role:
    <input formControlName="role" />
  </label>

  <div *ngIf="employeeForm.get('role')?.touched && employeeForm.get('role')?.invalid">
    Role is required
  </div>

  <br /><br />

  <button type="submit">Save</button>
</form>
